.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__edit-user
          = link_to new_group_path(current_user) do
            = icon("fas", "edit")
        %li.side-header__box__new-group
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')

  .side-group
    - current_user.groups.each do |group|
      .side-group__box
        =link_to '#' do
          %p.side-group__box__name
            = group.name
          %p.side-group__box__text
            まだメッセージがありません
